<h1>TripLogger</h1>

<h2>Edit your travel experience:</h2>

  <form action="/trips/<%= @trip.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <label for="city_name">City Name:</label>
      <select name="city_name">
        <% @cities.each do |city| %>
          <option value="<%= city.name %>"><%= city.name %></option>
        <% end %>
      </select>
    Or, enter a new city
      <input type="text" name="new_city_name">
    <label for="length_of_visit">Length of Visit:</label>
      <input type="text" name="length_of_visit">
    <button type="submit" value="submit">Edit Trip</button>
  </form>
