<h1>TripLogger</h1>

<h2>Create a new account.</h2>

<form action="/signup" method="POST">
  <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  <button type="submit" value="submit">Create Account</button>
</form>
