<h1>Trip Log</h1>

<% @cities.each do |city| %>
  <div>
    <a href="/cities/<%= city.id %>"><h3><%= city.name %> Trip</h3></a>
    <p>Number of Visitors: <%= city.users.size %></p>
  </div>
<% end %>
