<h1>Welcome, <%= @user.username %>!</h1>

<h2>Your Trips:</h2>

<% @cities.all.each do |city| %>
  <div>
    <h3><%= city.name %> Trip</h3>
    <p>Length of Trip: <%= city.length_of_visit %></p>
  </div>
<% end %>

<a href="/cities/new">Add Trip</a>
