<h1>TripLogger</h1>

<h2>Enter your newly traveled location!</h2>

  <form action="/cities" method "POST">
    <label for="name">City Name:</label>
      <input type="text" name="name" id="name">
    <label for="length_of_visit">Length of Visit:</label>
      <input type="text" name="length_of_visit" id="length_of_visit">
    <button type="submit" value="submit">Add Trip</button>
  </form>
