<!DOCTYPE html>
<html>
  <head>
    <title>TripLogger</title>
  </head>
  <body style="background-image: url(/images/Zion-National-Park.JPG)">
    <h1>Welcome to TripLogger, your personal travel log.</h1>
    <h3>Keep track of all of your adventures and let others inspire your travels!</h3>
  </body>
</html>
