<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/stylesheets/main.css" /> -->
    <title>TripLogger</title>
  </head>
  <body>
    <h1>Welcome to TripLogger, your personal travel log.</h1>
    <h3>Keep track of all of your travel adventures and let others inspire your travels!</h3>

    <h3><a href="/users/signup">Sign up</a> <a href="/users/login">Log in</a></h3>

    <div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/volcan-de-fuego.JPG" alt="Volcan de Fuego errupting" style="width:300px; height:350px">
            <div class="caption">
              <p>Volcan de Fuego, Guatemala.</p>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/acatenango-sunrise.JPG" alt="beautiful sunrise" style="width:450px; height:350px">
            <div class="caption">
              <p>A beautiful sunrise at the top of Volcan Acatenango, Guatemala.</p>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/delicate-arch.JPG" alt="Delicate Arch" style="width:450px; height:350px">
            <div class="caption">
              <p>Sunset at Delicate Arch in Arches National Park, Utah.</p>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
